body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  padding: 15px;
  margin: 20px 0;
  width: 100px;
  background-color: forestgreen;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.progress {
  border: 2px solid gray;
  width: 1000px;
  height: 100px;
  padding: 2px;
}

.progress__bar {
  background-color: forestgreen;
  height: 100px;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  opacity: 0;
}

.btn:active + .progress > .progress__bar {
  transform: scaleX(1);
  animation-name: progress-bar;
  animation-duration: 3s;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(.18);
  }
  24% {
    transform: scaleX(.4);
  }
  46% {
    transform: scaleX(.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}